# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*.swp
*.swo
*.DS_Store

# Virtual Environment
venv/
env/
*.venv
*.env

# Secret settings
.env
config.json

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Logs and debugging
*.log
debug.log

# VS Code 
.vscode/
